*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;

  @include breakpoint(sm) {
    min-height: 0 !important;
  }
}

body {
  font-family: $font;
  font-weight: 300;
  font-size: 20px;
  // line-height: 1.9;
  line-height: 1.3;
  color: $color-black;
  background-color: $color-white;
  padding: 0;
  margin: 0;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  overflow-x: hidden;
}

a {
  color: inherit;
  text-decoration: none;
  outline: none;
}

img {
  vertical-align: middle;
  max-width: 100%;
}

.ghost {
  @extend %visually-hidden;
}

.hidden {
  display: none !important;
}