/* Site palette */
$color-primary: #12998a; // light green
$color-secondary: #fab31f; // yellow

/* Helper colors */
$color-black: #000;
$color-white: #fff;
$color-success: #d4edda;
$color-warning: #fff3cd;
$color-error: #f7323f;

/* Helper assets */
$image-assets: '../Images/';
$svg-assets: '../Images/icons/';

/* Fonts */
$font: Arial, Helvetica, sans-serif;
