{% from layouts + 'content.njk' import content with context %}

{% set htmlClass = 'home' %}
{% set config = 'default' %}
{% set headerMode = 'light-mode' %}

{% extends 'templates/layouts/default.njk' %}

{% block content %}
	{% call content() %}
		
	{% endcall %}
{% endblock %}

