%clearfix {
  &::after {
    content: '';
    display: block;
    clear: both;
  }
}

%clearfix-full {
  &::before {
    content: '';
    display: block;
    clear: both;
  }

  &::after {
    content: '';
    display: block;
    clear: both;
  }
}

%visually-hidden {
  border: 0 !important;
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px !important;
  left: -9999px !important;
  overflow: hidden !important;
  padding: 0 !important;
  position: absolute !important;
  top: auto !important;
  width: 1px !important;
}

// %abs-center {
//   top: 50%;
//   left: 50%;
//   position: absolute;
//   transform: translate(-50%, -50%);
// }

// %title-bold {
//   font-size: 4rem;
//   font-weight: bold;
//   color: $color-black;

//   @include breakpoint(sm) {
//     font-size: 3rem;
//   }
// }

// %title-bold-primary {
//   @extend %title-bold;
//   color: $color-primary;
// }

// %title-regular {
//   font-size: 4rem;
//   font-weight: 400;
//   color: $color-black;

//   @include breakpoint(sm) {
//     font-size: 3rem;
//   }
// }

// %title-regular-primary {
//   @extend %title-regular;
//   color: $color-primary;
// }

// %description {
//   font-size: 2.3rem;
//   font-weight: 300;
//   line-height: 3rem;
//   margin: 0;
//   color: $color-black;

//   @include breakpoint(sm) {
//     font-size: 1.8rem;
//   }
// }

// %title {
//   font-size: 3.6rem;
//   color: $color-primary;
//   font-weight: 500;
//   margin-top: 0;
//   margin-bottom: 2.5rem;
// }