<!doctype html>
<html lang="de" class="{{ htmlClass }}">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>{{ pageTitlte }}</title>
	<meta name="description" content="{{ pageDescription }}">
	<link rel="stylesheet" href="Css/main.css">
</head>
<body class="{{ bodyClass }}">
	<div class="site-wrapper">
		{% block header %}
			{% include 'templates/partials/header.njk' %}
		{% endblock %}
		<main class="site-main" role="main">
			{% block content %}{% endblock %}
		</main>
		{% block footer %}
			{% include 'templates/partials/footer.njk' %}
		{% endblock %}
	</div>
	{% block scripts %}
		{% include 'templates/partials/scripts.njk' %}
	{% endblock %}
</body>
</html>