%container {
	width: 100%;
	max-width: 770px;
	padding: 0 50px;
	margin: 0 auto;
}

.site-wrapper {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	overflow-x: hidden;
	position: static;

	@include breakpoint('lg') {
		position: relative;
	}
}

.site-main {
	flex-grow: 1;
	flex-basis: auto;
	width: 100%;
}

.site-header {
	width: 100%;
	flex-grow: 0;
	flex-basis: auto;
}

.site-footer {
	flex-grow: 0;
	flex-basis: auto;
	width: 100%;
}

.container {
	@extend %container;

	&.-flex {
		display: flex;
		flex-wrap: wrap;
	}

	&.-centered {
		align-items: center;
		align-content: center;
		justify-content: center;
	}
}
